@tailwind base;
@tailwind components;
@tailwind utilities;

.table {
    width: 30%;
    border-collapse: collapse;
}
tr,th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}