<html lang="en">
<body>
<form method="post">
    <label for="code">Search after personal code to delete or update notes!</label><br>
    <input type="text" id="code" name="code"><br><br>
    <input class="bg-yellow-500 hover:bg-yellow-700 rounded" type="submit" name="submit2" value="Search">
    <input class="bg-indigo-500 hover:bg-indigo-700 rounded" type="submit" name="clear2" value="Clear">
</form>
</body>
</html>