<html>
<body>
<form method="post">
    <label for="search">Enter your Token</label><br>
    <input type="text" name="token"><br>
    {{ errorMessage }}<br>
    <input type="submit" name="tokenSubmit" value="Login">
</form>
</body>
</html>